/* serena's custom css */

.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
    text-transform: none;
}
.reveal .caps {
    text-transform: capitalize;
}
.reveal .invis {
    color: #0000;
}

.reveal blockquote {
    background-color: rgb(134, 184, 194);
    /* color: var(--r-main-color); */
    border-radius: 12px;
}

.reveal blockquote.bad {
    background-color: rgb(232, 131, 131);
    /* color: rgb(232, 131, 131); */
}

.reveal blockquote.good {
    background-color: rgb(94, 203, 94);
    /* color: var(--r-inline-code-color); */
}

.reveal blockquote.alt {
    /* background-color: rgb(205, 24, 184); */
    color: #6b0383;
}

.reveal .taper-fade {
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,1) 40%, rgba(0,0,0,0));
}

.reveal hr {
    color: black;
}
.reveal .col-container {
    display: flex !important;
}
.reveal .col {
    flex: 1;
    font-size: 80%;
}

.reveal .demph {
    /* color: #BBACAC; */
    color: #2229;
}