.reveal {
  --r-heading1-size: 3.45em;
  --r-heading2-size: 1.95em;
  --r-heading3-size: 1.42em;
  --r-heading4-size: 0.95em;
  --rs-process-accent: var(--r-link-color);
  --rs-process-number-background: var(--r-heading-color);
  --rs-process-number-color: var(--r-background-color);

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-kerning: normal;
    letter-spacing: -0.01em;
  }

  .rs-timeline {
    font-size: 1.08em;
  }
}
